
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoRole</title>
</head>
<body>
    <div> 
        You don't have permission to this page.
    </div>
    <div>
        <a href="/Users/Login">Login</a>
    </div>
</body>
</html>
